flows/Naveenflow2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Oppurtinuty</name>
        <label>New Oppurtinuty</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>NewOpportunity</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StageName</name>
            <value>
                <elementReference>New_Oppurtinuty</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewOpportunity</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Yes</name>
        <label>Yes</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_Oppurtinuty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>Outcome</elementReference>
                </rightValue>
            </conditions>
            <label>Outcome</label>
        </rules>
    </decisions>
    <description>2</description>
    <environments>Default</environments>
    <interviewLabel>Naveenflow2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Naveenflow2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>2</description>
        <name>Naveen2</name>
        <label>Naveen2</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Yes</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Naveen2</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
