force-app/main/default/layouts/damage
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Get Salesforce ORG Base URL</description>
        <name>Get_Salesforce_ORG_Base_URL</name>
        <label>Get Salesforce ORG Base URL</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_Record_Outputs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>SAid</name>
            <value>
                <elementReference>Case_Assets.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOrgBaseUrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_Flow_to_work_order</name>
        <label>Redirect Flow to work order</label>
        <locationX>182</locationX>
        <locationY>2354</locationY>
        <actionName>c:FlowRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>WorkOrderVariable.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>WorkOrderVariable.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:FlowRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assignment Record Outputs</description>
        <name>Assignment_Record_Outputs</name>
        <label>Assignment Record Outputs</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varSA_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_SA_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWOLI_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_WOLI_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prefer_Method_of_Communication_checkbox_False</name>
        <label>Prefer Method of Communication checkbox False</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>VarPreferFinalEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPreferFinalPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreferFinalMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Contact.Preferred_Contact_Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrderVariableAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prefer_method_of_communication_checkbox_true</name>
        <label>Prefer method of communication checkbox true</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>VarPreferFinalEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pref_Email_value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPreferFinalPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preferred_phone_value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreferFinalMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Communication_Method</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrderVariableAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SAAssignment</name>
        <label>SAAssignment</label>
        <locationX>182</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.FSL__Schedule_over_lower_priority_appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineitem.Asset.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineitem.Asset.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineitem.Asset.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineitem.Asset.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineitem.Asset.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.BillToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillToAddressAccId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.ShipToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShipToAddressAccId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.SA_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPreferFinalEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.SA_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPreferFinalPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceappointmmentVariable.BW_Preferred_Method_of_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreferFinalMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WorkOrderlineItemVariable</name>
        <label>WorkOrderlineItemVariable</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Assets.firstSelectedRow.Asset__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderVariable.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineitem.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineitem.Asset.Product_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_Line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WorkOrderVariableAssignment</name>
        <label>WorkOrderVariableAssignment</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.BW_Scheduling_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scheduling_policy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Safety_Concern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SafetyIssueReported</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.Property_Damage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductDamageReported</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.BillToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillToAddressAccId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderVariable.ShipToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShipToAddressAccId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_work_order</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Preferred_Communication_Method_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Preferred Communication Method</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check Duplicate Asset Found or Not</description>
        <name>Check_Duplicate_Asset_Found_or_Not</name>
        <label>Check Duplicate Asset Found or Not</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Asset_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_SA_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_WOLI_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_SA_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_WOLI_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_ORG_Base_URL</targetReference>
            </connector>
            <label>Duplicate Asset Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Method_of_communication_checkbox</name>
        <label>Preferred Method of communication checkbox</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Prefer_Method_of_Communication_checkbox_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Method_of_communication_checkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Preferred_Communication_Method1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prefer_method_of_communication_checkbox_true</targetReference>
            </connector>
            <label>Change Method of communication checkbox</label>
        </rules>
    </decisions>
    <description>This is the new flow for Product Damage.
BDUS 1242 : addition of Address check screen and values assignment. Service Address field added and Subflow BW address flow updated. Bill to address and ship to address length has been removed.Updated work order assignment.
BDUS-1461 &amp; BDUS 1799 : Preferred method of communication screen has been added to the flow and custom labels are also added in this version.Added all validation on phone and email field for preferred method of communication.Changes made as per QA sandbox and without Recall functionality.</description>
    <dynamicChoiceSets>
        <name>ApplianceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BW_Appliance_Type__c</picklistField>
        <picklistObject>WorkType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BrandCatagory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BW_Brand_Category__c</picklistField>
        <picklistObject>WorkType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredCommunicationMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Contact_Method__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ApexVariable</name>
        <dataType>String</dataType>
        <expression>{!FlowType} + &apos; &apos;+ {!ServiceappointmmentVariable.ServiceTerritory.Name}</expression>
    </formulas>
    <formulas>
        <name>Duedate</name>
        <dataType>DateTime</dataType>
        <expression>Now()+1</expression>
    </formulas>
    <formulas>
        <name>EarliestStartPermitted</name>
        <dataType>DateTime</dataType>
        <expression>Now() + (30/24/60)</expression>
    </formulas>
    <formulas>
        <description>FormulaSA_URL</description>
        <name>FormulaSA_URL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Salesforce_ORG_Base_URL} , &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;) + &apos;/&apos; + {!BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_SA_ID}</expression>
    </formulas>
    <formulas>
        <description>FormulaWOLI_URL</description>
        <name>FormulaWOLI_URL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Salesforce_ORG_Base_URL} , &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;) + &apos;/&apos; +  {!BW_SFS_Check_Duplicate_SA_WOLI_for_Asset.OUTPUT_WOLI_ID}</expression>
    </formulas>
    <interviewLabel>BW Product Damage or Injury Flow-New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BW Product Damage or Injury Flow-New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Redirect_Flow_to_work_order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_log_for_the_fault_SA</targetReference>
        </faultConnector>
        <inputReference>ServiceappointmmentVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_work_order</name>
        <label>Create work order</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>WorkOrderlineItemVariable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_log_for_the_fault</targetReference>
        </faultConnector>
        <inputReference>WorkOrderVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_item</name>
        <label>Create Work Order Line item</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>SAAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_log_for_the_fault_WOLI</targetReference>
        </faultConnector>
        <inputReference>WorkOrderLineitem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Scheduling_policy</name>
        <label>Get Scheduling policy</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scheduling_policy_For_Product.Sheduling_Policy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Scheduling_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduling_policy_For_Product</name>
        <label>Get Scheduling policy For Product</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduling_policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Issue_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Damage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BW_Asset_Issue__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduling_policy_For_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BW_Appliance_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appliance_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>BW_Brand_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Diagnosis</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>provision to change preferred communication method for the service appointment</description>
        <name>BW_preferred_Communication</name>
        <label>preferred Communication Method</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Preferred_Method_of_communication_checkbox</targetReference>
        </connector>
        <fields>
            <name>Title_for_Preferred_communication</name>
            <fieldText><p><strong>{!$Label.Preferred_Method_title}</strong></p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pref_Email_Label</name>
            <fieldText><p><strong>{!preferred_Email_Label}</strong></p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pref_email_disbaled_value</name>
            <fieldText><p>{!Case.Contact.Email}</p></fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Preferred_Communication_Method1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pref_Email_value</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Contact.Email</elementReference>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage><p><strong> style=&quot;color: rgb(244, 8, 31); background-color: rgb(255, 255, 255);&quot;>Please enter a valid email address</strong></p></errorMessage>
                <formulaExpression>REGEX({!Pref_Email_value},&quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)*\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Preferred_Communication_Method1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pref_Phone_value</name>
            <fieldText><p><strong>{!Preferred_Phone_Label}</strong></p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pref_phone_disbaled</name>
            <fieldText><p>{!Case.Contact.Phone}</p></fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Preferred_Communication_Method1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>preferred_phone_value</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Contact.Phone</elementReference>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage><p><strong> style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 10, 25);&quot;>Please enter a valid phone number</strong></p></errorMessage>
                <formulaExpression>(REGEX({!preferred_phone_value}, &quot;^[1-9]{1}[0-9]{9,10}(?![0-9])$&quot;))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Preferred_Communication_Method1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>preferred_Comunication_Method_Text</name>
            <fieldText><p><strong>{!Preferred_Communication_Method_Label}</strong></p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pref_Comm_Method_Value</name>
            <fieldText><p>{!Case.Contact.Preferred_Contact_Method__c}</p></fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Preferred_Communication_Method1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Communication_Method</name>
            <choiceReferences>PreferredCommunicationMethod</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Contact.Preferred_Contact_Method__c</elementReference>
            </defaultValue>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Preferred_Communication_Method1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Change_preferred_communication_method</name>
            <fieldText><p><strong>{!$Label.Preferred_Method_checkbox}</strong></p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_Preferred_Communication_Method1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Enable_Preferred_Com_Method_Change</elementReference>
            </defaultValue>
            <fieldText>Change Preferred Communication Method</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display Duplicates</description>
        <name>Display_Duplicates</name>
        <label>Display Duplicates</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <fields>
            <name>Duplicate_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(111, 13, 43); background-color: rgb(255, 255, 255);&quot;&gt;Following are the duplicate Asset records found for the selected Asset (Click on Next to continue):&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duplicate_SA</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Duplicate Service Appointment Found for the same Asset:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varSA</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!FormulaSA_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varSA_Number}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varWOLI</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Duplicate WOLI Found for the same Asset:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varWOLI1</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!FormulaWOLI_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varWOLI_Number}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen-1</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset</targetReference>
        </connector>
        <fields>
            <name>Case_Assets</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case_Asset__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select at least one Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CaseAssets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0a05&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Case Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Model_Number__c&quot;,&quot;guid&quot;:&quot;column-ad2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Model Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Model Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Serial_Number__c&quot;,&quot;guid&quot;:&quot;column-2db5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Serial Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Brand</name>
            <choiceReferences>BrandCatagory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Type</name>
            <choiceReferences>ApplianceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appliance Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Problem_Subject</name>
            <dataType>String</dataType>
            <fieldText>Asset Problem Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Problem_Description</name>
            <dataType>String</dataType>
            <fieldText>Asset Problem Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Address_Check</name>
        <label>Address Check</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>BW_preferred_Communication</targetReference>
        </connector>
        <flowName>BW_Address_Check</flowName>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BillToAddressAccId</assignToReference>
            <name>BillToAddressAccId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShipToAddressAccId</assignToReference>
            <name>ShipToAddressAccId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>BW SFS Check Duplicate SA WOLI for Asset</description>
        <name>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset</name>
        <label>BW SFS Check Duplicate SA WOLI for Asset</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Check_Duplicate_Asset_Found_or_Not</targetReference>
        </connector>
        <flowName>BW_SFS_Check_Duplicate_SA_WOLI_for_Asset</flowName>
        <inputAssignments>
            <name>INPUT_ASSET_ID</name>
            <value>
                <elementReference>Case_Assets.firstSelectedRow.Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>INPUT_MODEL_NUMBER</name>
            <value>
                <elementReference>Case_Assets.firstSelectedRow.Model_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>INPUT_SERIAL_NUMBER</name>
            <value>
                <elementReference>Case_Assets.firstSelectedRow.Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Error_log_for_the_fault</name>
        <label>Create Error log for the fault</label>
        <locationX>1106</locationX>
        <locationY>1922</locationY>
        <flowName>Create_Application_Log_Record</flowName>
        <inputAssignments>
            <name>Input_LogDebugLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogMessage</name>
            <value>
                <stringValue>Error in Creating Work Order for Safety Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogReferenceId</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogSource</name>
            <value>
                <stringValue>BW Safety Issue Subflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogSourceFunction</name>
            <value>
                <stringValue>Create work order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogStackTrace</name>
            <value>
                <stringValue>Error in Creating Work Order for Safety Issue</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Error_log_for_the_fault_WOLI</name>
        <label>Create Error log for the fault WOLI</label>
        <locationX>842</locationX>
        <locationY>2138</locationY>
        <flowName>Create_Application_Log_Record</flowName>
        <inputAssignments>
            <name>Input_LogDebugLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogMessage</name>
            <value>
                <stringValue>Error in Creating Work Order Line Item for Safety Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogReferenceId</name>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogSource</name>
            <value>
                <stringValue>BW Safety Issue Subflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogSourceFunction</name>
            <value>
                <stringValue>Create Work Order Line item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogStackTrace</name>
            <value>
                <stringValue>Error in Creating Work Order Line Item for Safety Issue</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_log_for_the_fault_SA</name>
        <label>Error log for the fault SA</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <flowName>Create_Application_Log_Record</flowName>
        <inputAssignments>
            <name>Input_LogDebugLevel</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogMessage</name>
            <value>
                <stringValue>Error in Creating Service Appointment Item for Safety Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogReferenceId</name>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogSource</name>
            <value>
                <stringValue>BW Safety Issue Subflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogSourceFunction</name>
            <value>
                <stringValue>Create Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_LogStackTrace</name>
            <value>
                <stringValue>Error in Creating Service Appointment for Safety Issue</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BillToAddressAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BilltoAddressCity2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BilltoAddressCountry2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BilltoAddressPostalcode2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BilltoAddresssStreeet2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BilltoaddressState2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Asset__c</objectType>
    </variables>
    <variables>
        <name>EarliestStartPermittedFromApex</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Enable_Preferred_Com_Method_Change</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FlowType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SafetyIssues</stringValue>
        </value>
    </variables>
    <variables>
        <name>preferred_Email_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </variables>
    <variables>
        <name>Preferred_Phone_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductDamageReported</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SafetyIssueReported</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceappointmmentVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ShipToAddressAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToAddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToAddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToAddressPostalcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToAddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToAddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillRequired</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>SkillRequirementAssignmentVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>VarPreferFinalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPreferFinalMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPreferFinalPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>varSA_Number</description>
        <name>varSA_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>varWOLI_Number</description>
        <name>varWOLI_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
